@tailwind base;
@tailwind components;
@tailwind utilities;


.light {
    --background: 240, 231, 219;
    --primary: 10, 10, 10;
    --horizontal-rule: 50, 50, 50;
    --special: 10, 10, 10;
    --fill: 250, 250, 245;
    --borderBottom: 50, 50, 50;
    --hamburgerBorder: 229, 231, 235;
    --link: 100, 200, 255;
}

.dark {
    --background: 32, 32, 32;
    --primary: 255, 255, 255;
    --horizontal-rule: 50, 50, 50;
    --special: 255, 255, 255;
    --fill: 50, 50, 50;
    --borderBottom: 50, 50, 50;
    --hamburgerBorder: 50, 50, 50;
    --link: 0, 300, 80;
}

body::-webkit-scrollbar {
    width: 10px;
}

bodu::-webkit-scrollbar-button {
    background-color: red;
}

body::-webkit-scrollbar-track {
    background: rgba(var(--background));
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(var(--primary));
}

/* body {
    scrollbar-width: thin; 
    scrollbar-color: blue orange;
} */